*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    background: url(../assets/imagen-presentacion.jpg) center/cover no-repeat fixed;
}


header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px, 40px;
    color: black;
    height: 100vh;
}

.hero{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(0, 0, 0);
    text-align: center;
    align-items: center;
    animation: aparecer 1.5s ease forwards;
    width: 80%;
    width: 120%;
    height: 40px;
}

.nav-links{
    position: fixed;
    top: 0;
    list-style: none;
    display: flex;
    gap: 30px;
    z-index: 10;
    gap: 40px;
    backdrop-filter: blur(5px);
    width: 100%;
    justify-content: center;
    padding: 40px;
}

.nav-links a{
    color: black;
    text-decoration: none;
}

.nav-links a:hover{
    color: rgb(128, 72, 12);
}

a.activo{
    font-weight: bolder;
    color: rgb(128, 72, 12);
    text-decoration: underline;
}

/*SECCIONES CONTENIDO*/
section{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section h2{
    margin-bottom: 20px;
    color: black;
    text-align: center;
}

.contenido{
    background-color: white;
}

.contenedor{
    width: 60%;
    max-width: 800px;
}

.contenedor-xl{
    width: 90%;
    max-width: 1000px;
}

.contenido-img{
    background-color: rgba(238, 191, 208, 0.607);
}


.contenedor-img-txt{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
}

.contenedor-img-txt img{
    width: 100%;
    height: auto;
    max-height: 800px;
    object-fit: cover;
}

.cuadro-txt{
    background-color: rgb(215, 176, 113);
    padding: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-left: -80px;
    transition: all .5s ease-in-out;
    font-size: larger;
}

.cuadro-txt h3{
    margin-bottom: 20px;
}

.contenedor-img-txt:hover .cuadro-txt{
    transform: translateX(-30px);
}

/*TOP VENTAS*/
h2{
    font-size: xx-large;
}

.top-ventas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 10px;
}

.top-venta{
    height: 400px;
    display: grid;
    grid-template-rows: 70% 25% 5%;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.top-venta:hover{
    transform: translateY(-10px);
    opacity: 1;
    cursor: pointer;
}

.top-venta img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 9;
}

.descripcion{
    padding: 10px;
    background-color: white;
    transform: translateY(-90px);
    transition: all .5s ease-in-out;
}

.descripcion h3{
    margin-bottom: 5px;
}

.descripcion img{
    width: 40px;
    height: auto;
    margin-top: 15px;
    transition: all .5s ease-in-out;
}

.top-venta:hover .descripcion{
    transform: translateY(0px);

}

.top-venta:hover .descripcion img{
    opacity: 0;
}

/*ENLACE PRODUCTOS*/
.titulo{
    position: relative;
    top: -50px;
}

.contenedor2{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    text-align: center;
    gap: 30px;
    margin: 0 auto;
    justify-content: center;
}

.contenedor-imagenes{
    display: flex;
    max-width: 100%;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    overflow: visible;
    max-width: 100%;
    align-items: center;
    height: auto;

}

.label-checkbox{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: flex-start;
    max-width: 300px;
}

.opcion{
    display: flex;
    align-items: center;
    gap: 40px;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 12px 16px;
    transition: all 0.3s ease;
    font-size: 40px;
    cursor: pointer;
    background-color: #f9f9f9;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.opcion:hover {
  border-color: #888;
  background-color: #f0f0f0;
}

.opcion input[type="radio"] {
  width: 10px;
  height: 10px;
  accent-color: #4a90e2;
  transform: scale(3.0);
  padding: 20px;
}

.imagenes {
  display: none;
  object-fit: cover;
  height: auto;
  width: 100%;
  gap: 20px;
  justify-content: center;
  opacity: 0;
}

#mujer:checked ~ .contenedor-imagenes .mujer {
  display: grid; 
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  opacity: 1;
  transform: translateY(0);
  max-height: 1200px;
  transition: all 1.0s ease;
}

#hombre:checked ~ .contenedor-imagenes .hombre {
  display: grid; 
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  opacity: 1;
  transform: translateY(0);
  max-height: 1200px;
  transition: all 1.0s ease;
  background-color: red;
}

/*ENLACE CONTACTO*/
.contact-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 30px;
}
.contact-form label{
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input
.contact-form textarea{
    width: 100%;
    padding: 20px 30px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 25px;
}

.contact-form input[type='submit'] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    transition: all .3s ease-in-out;
    font-size: 30px;
}

.contact-form input[type='submit']:hover{
    background-color: rgb(252, 82, 111);
}

label {
    font-size: larger;
}

.privacidad{
    font-size: 20px;
}
/*FOOTER*/
footer {
    background-color: rgb(5, 4, 4);
    color: white;
    text-align: center;
    padding: 20px 0;
}
.redes-sociales{
    text-decoration: none;
    color: white;
}









/*Animaciones*/
@keyframes aparecer{
    0%{
        opacity: 0;
        transform: translateY(50px)
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and(max-width: 768px){
  body {
    font-size: 14px;
    padding: 20px;
    flex-direction: column;
  }
}