<!DOCTYPE html>
<html lang="es">
    <head>
        <!--CONFIGURACION-->
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Floral, aroma floral, perfume, fragancia,sumergete en la nueva fragancia de Floral, hecho con 99% de origen natural respetando el medio ambiente"/>
        <meta name="keywords" content="perfume, fragancia, aroma, flores, primavera"/>
        <title>FLORAL | Siempre un paso por delante de los demás</title>
        <!--FAVICON-->
        <link rel="icon" href="./favicon-v2.ico" type="image/png"/>
        <!--CSS-->
        <link rel="stylesheet" href="../css/estilos.css"/>
    </head>
    <body>
        <!--HEADER-->
        <header>
            <nav class="nav-links">
                <a href="../index.html">Inicio</a>
                <a href="../views/productos.html">Productos</a>
                <a href="../views/presupuesto.html">Presupuesto</a>
                <a href="#" class="activo">Contacto</a>
            </nav>
            <div class="hero">
                <img src="../assets/logo.png" alt="logo" width="400" height="400">
               <h2>Ubicacion de donde nos encontramos</h2> 
            </div>
        </header>
        <!--MAIN-->
        <main>
            <section>
                <img src="../assets/Captura de pantalla 2025-08-04 201305.png" alt="mapa">
            </section>
        </main>
        <footer>
            <p>&copy; 2025 FLORAL AROMATIC Bahía Sur Calle Caño Herrera, San Fernando (Cádiz). Todos los derechos reservados.</p>
            <div class="redes-sociales">
                <a href="https://www.facebook.com" target="_blank">
                <img src="https://tse4.mm.bing.net/th/id/OIP.pXiAKMvAipj3bFTJHFHqhAHaHa?rs=1&pid=ImgDetMain&o=7&rm=3" alt="Facebook" width="30" height="30">
                </a>
                <a href="https://www.twitter.com" target="_blank">
                <img src="https://tse3.mm.bing.net/th/id/OIP.7PF_T5X3rVne0gCLjwpoYQHaFj?rs=1&pid=ImgDetMain&o=7&rm=3" alt="Twitter" width="30" height="30">
                </a>
                <a href="https://www.instagram.com" target="_blank">
                <img src="https://tse4.mm.bing.net/th/id/OIP.nCmb7tgt3ol5ICEHVcTbEwHaHk?rs=1&pid=ImgDetMain&o=7&rm=3" alt="Instagram" width="30" height="30">
                </a>
            </div>
        </footer>
    </body>
    </html>